PORT = 3000
BASE_URL = http://localhost
MONGO_URI = mongodb+srv://<username>:<password>@cluster0.<domainname>.mongodb.net/<dbname>
JWT_SECRET = <your-jwt-secret>
JWT_EXPIRES_IN = 30m
REFRESH_TOKEN_EXPIRES_IN = 30d
